<div class="container">
      <header class="header">
        <!-- primary -->
        <h1>{{ MY_NAME }}</h1>
        <p>{{ CURRENT_POSITION }}</p>
      </header>

      <main class="main">
        <section class="fade-in">
          <!-- about me -->
          <h2 class="section-title">About Me</h2> 
          <p>{{ ABOUT_ME}}</p>
        </section>
        
        <!-- Tech stacks -->
        <section class="fade-in">
          <h2 class="section-title">Techstack</h2>
          <div>
            <div class="projects">
              <div class="project-card">
                <h3>Frontend</h3>
                <ul class="skills-list">
                  <!-- loop skills 5 items max-->
                  <div class="skills-list-column" *ngFor="let row of [].constructor(fColumns); index as i">
                    <ng-container *ngFor="let r of [].constructor(frontendStack.length); index as l">
                      <ng-container *ngIf="l < 5">
                        <li *ngIf="frontendStack[(5*i)+l]">
                          {{ frontendStack[(5*i)+l]}}
                        </li>
                      </ng-container>
                    </ng-container>  
                  </div>
                </ul>
              </div>
              <div class="project-card">
                <h3>Backend</h3>
                <ul class="skills-list">
                  <!-- loop skills 5 items max-->
                  <div class="skills-list-column" *ngFor="let row of [].constructor(bColumns); index as i">
                    <ng-container *ngFor="let r of [].constructor(backendStack.length); index as l">
                      <ng-container *ngIf="l < 5">
                        <li *ngIf="backendStack[(5*i)+l]">
                          {{ backendStack[(5*i)+l]}}
                        </li>
                      </ng-container>
                    </ng-container>  
                  </div>
                </ul>
              </div>
              <div class="project-card">
                <h3>Database</h3>
                <ul class="skills-list">
                  <!-- loop skills 5 items max-->
                  <div class="skills-list-column" *ngFor="let row of [].constructor(dColumns); index as i">
                    <ng-container *ngFor="let r of [].constructor(databaseStack.length); index as l">
                      <ng-container *ngIf="l < 5">
                        <li *ngIf="databaseStack[(5*i)+l]">
                          {{ databaseStack[(5*i)+l]}}
                        </li>
                      </ng-container>
                    </ng-container>  
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- experiences -->
        <section class="fade-in">
          <h2 class="section-title">Experience</h2>
          <div *ngFor="let experience of myExperiences">
            <h3 class="job-title">{{ experience.position }} at {{ experience.company}}</h3>
            <p class="job-period"> {{ experience.year }} </p>
            <p>{{ experience.role }}</p>
            <br>
          </div>
        </section>

        <!-- Education -->
        <section class="fade-in">
          <h2 class="section-title">Education</h2>
          <div *ngFor="let education of myEducation">
            <h3 class="job-title">{{ education.program }} </h3>
            <p class="job-period"> {{ education.school}} | {{ education.year_graduated }} </p>
            <p><b>{{ education.award }}</b></p>
          </div>
        </section>

        <!-- personal projects -->
        <section class="fade-in">
          <h2 class="section-title">Personal Projects</h2>
          <div class="projects">
            <ng-container *ngFor="let project of myPersonalProjects">
              <div class="project-card">
                <h3>{{ project.name}}</h3>
                <p class="subtitle">{{ project.techstack }} </p>
                <p>{{ project.detail }}</p>
                <a href="{{ project.link }}" target="_blank">View Project</a>
              </div>
            </ng-container>
          </div>
        </section>

        <section class="fade-in">
          <h2 class="section-title">Contact</h2>
          <p>Email: <a href="jhondiodecatulpos@gmail.com">Jhondiodecatulpos&commat;gmail.com</a></p>
          <p>LinkedIn: <a href="https://www.linkedin.com/in/jhon-diode-catulpos-640644235/" target="_blank">Linkedin.com/in/jhon-diode-catulpos</a></p>
          <p>GitHub: <a href="https://github.com/jcatulpos123" target="_blank">Github.com/jcatulpos123</a></p>
        </section>
      </main>

      <footer class="footer">
        ~ &copy; 2025 Just LED ~.
      </footer>
    </div>